{% extends 'base_public.html.twig' %}
{% block title %} Privacia - Catalogue{% endblock %}
{% block breadcrumb_title %}
    {{ 'Public.Catalog.BreadcrumbTitle'| trans({}, "messages", locale) }}
{% endblock %}

{% block breadcrumb_content %}
    {{ 'Public.Catalog.BreadcrumbContent'| trans({}, "messages", locale) }}
{% endblock %}
{% block main_content %}
    <section class="page-section">
        <div class="container catalog-ponctual">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'Public.Catalog.Title'| trans({}, "messages", locale) }}
                    </h1>
                    <div class="divider"></div>
                </div>
            </div>
            {% set customArea = paprec_customizable_area('catalog_top', locale) %}
            {% if customArea is not null %}
                <div class="row m-b-40">
                    <div class="col-xl-6">
                        <div class="mytext">{% autoescape false %}{{ customArea.leftContent }}{% endautoescape %}</div>
                        <div class="image">
                            {% if customArea.leftPictures and customArea.leftPictures|length > 0 %}
                                <img src="{{ asset('uploads/pictos/' ~ customArea.leftPictures[0].path) }}"
                                     class="img-fluid"
                                     alt="Image block left">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="mytext">{% autoescape false %}{{ customArea.rightContent }}{% endautoescape %}</div>
                        <div class="image">
                            {% if customArea.rightPictures and customArea.rightPictures|length > 0 %}
                                <img src="{{ asset('uploads/pictos/' ~ customArea.rightPictures[0].path) }}"
                                     alt="Image block left">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}

            <hr class="m-b-40">

            {% for range in ranges %}
                <div class="range-container">
                    <h2><a data-toggle="collapse"
                           href="#rangeProductCollapse__{{ range.id }}">{{ range|rangeLabelTranslation(locale) }}</a>
                    </h2>
                    <div id="rangeContentContainer__{{ range.id }}">
                        <div class="row m-b-15 m-t-1">
                            <div class="col-md-1 range__image">
                                <img src="{% if range.pictures|length > 0 %}{{ asset('/uploads/pictos/' ~ range.pictures[0].path) }}{% endif %}"
                                     alt="#" class="">
                            </div>
                            <div class="col-md-11">
                                <p>{{ range|rangeLabelTranslation(locale,'shortDescription') }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row product-container collapse multi-collapse"
                         id="rangeProductCollapse__{{ range.id }}">
                        {% for product in range.products %}
                            <div class="col-md-4 product" id="productContainer_{{ product.id }}">
                                <div class="row product__block">
                                    <div class="col-xl-3 paprec-flex align-items_center">
                                        <div class="product__image">
                                            <img src="{% if product.pilotPictures|length > 0 %}{{ asset('/uploads/pictos/' ~ product.pilotPictures[0].path) }}{% endif %}"
                                                 alt="#" class="">
                                        </div>
                                    </div>
                                    <div class="col-xl-9">
                                        <div class="product__title">
                                            <h2 class="color-secondary m-b-20">{{ product|productLabelTranslation(locale) }}</h2>
                                        </div>
                                        <div class="product__description">
                                            <div class="paprec-flex space-between">
                                                <div class="m-b-12">{{ product|productLabelTranslation(locale,'shortDescription') }}</div>
                                            </div>
                                            <div class="paprec-flex space-between">
                                                <div class="product__label">{{ 'Catalog.Product.Capacity'|trans({}, "messages", app.request.locale) }}
                                                    :
                                                </div>
                                                <div class="product__value">{{ product.capacity }} {{ product.capacityUnit }}</div>
                                            </div>
                                            <div class="paprec-flex space-between">
                                                <div class="product__label">{{ 'Catalog.Product.Dimensions'|trans({}, "messages", app.request.locale) }}
                                                    :
                                                </div>
                                                <div class="product__value">{{ product.dimensions }}</div>
                                            </div>
                                        </div>
                                        <div class="product__quantity paprec-flex">
                                            <div>{{ 'Public.Catalog.Quantity'| trans({}, "messages", locale) }} :</div>
                                            <div class="paprec-flex product__quantity__container">
                                                {% set qtty = '' %}
                                                {% for item in cart.content %}
                                                    {% if item['pId'] == product.id %}
                                                        {% set qtty = item['qtty'] %}
                                                    {% endif %}
                                                {% endfor %}
                                                <div class="paprec-flex">
                                                    <button class="removeOneToCartButton round-btn round-btn--blue mr-2 {% if qtty == 0 %}round-btn--disable{% endif %}"
                                                            id="removeOneToCartButton{{ product.id }}"
                                                            data-url="{{ path('paprec_public_catalog_removeOneContent', {locale: locale, cartUuid: cart.id, productId: product.id}) }}">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <select name=""
                                                            disabled="disabled"
                                                            class="quantityProductSelect"
                                                            data-url="{{ path('paprec_public_catalog_addContent', {locale: locale, cartUuid: cart.id}) }}"
                                                            data-product="{{ product.id }}"
                                                            id="quantityProductSelect_{{ product.id }}">
                                                        {% for i in 0..100 %}
                                                            {% if i == qtty %}
                                                                <option value="{{ i }}"
                                                                        selected="selected">{{ i }}</option>''
                                                            {% else %}
                                                                <option value="{{ i }}">{{ i }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                    <button class="addOneToCartButton round-btn round-btn--blue ml-2"
                                                            id="addOneToCartButton{{ product.id }}"
                                                            data-url="{{ path('paprec_public_catalog_addOneContent', {locale: locale, cartUuid: cart.id, productId: product.id}) }}">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="row product-container">
                <div class="col-md-6 product">
                    <div class="row devis">

                        <div class="col-xl-6 p-20 border-right">
                            <div class="devis__products-container">
                                <h2 class="m-b-20">{{ 'Public.Catalog.Quote'| trans({}, "messages", locale) }}</h2>
                                <div class="devis__recap devis-recap">
                                    {% for range in ranges %}
                                        {% for product in range.products %}
                                            {% for item in cart.content %}
                                                {% if item['pId'] == product.id %}
                                                    <div class="devis__recap__item devis-recap-item-{{ product.id }}">
                                                        <p class="mr-2 font-weight-bold">{{ item['qtty'] }}x</p>
                                                        <p>{{ product|productLabelTranslation(locale) }}</p>
                                                        <p class="mr-2 ml-2">|</p>
                                                        <p class="mr-1">{{ ('Public.Catalog.' ~ (item['frequency']|capitalize))|trans({}, "messages", locale)|capitalize }}</p>
                                                        {% if item['frequency'] == 'regular' %}
                                                            <p>{{ item['frequencyTimes'] }} {{ 'Public.Catalog.Times'| trans({}, "messages", locale) }} {{ ('Public.Catalog.' ~ item['frequencyInterval']|capitalize)| trans({}, "messages", locale) }}</p>

                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 devis__frequency-container p-20">
                            <h2 class="m-b-20">{{ 'Public.Catalog.Collect-date'| trans({}, "messages", locale) }}</h2>

                            <div class="devis__frequency-container__content paprec-flex column">
                                <input placeholder="jj/mm/aaaa"
                                       data-url="{{ path('paprec_public_catalog_editPonctualDate', {locale: locale, cartUuid: cart.id}) }}"
                                       type="text"
                                       id="frequencyPonctualDatepicker">

                            </div>
                            <button type="button"
                                    class="btn btn__blue btn__large"
                                    data-url="{{ path('paprec_public_contact_regulier_index', {locale: locale, cartUuid: cart.id}) }}"
                                    data-ajax="{{ path('paprec_public_catalog_addFrequency', {locale: locale, cartUuid: cart.id}) }}"
                                    id="catalog_next_step_button">
                                {{ 'Public.Catalog.NextStep'| trans({}, "messages", locale) }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sticky-shop-cart-container showHide">

                <h2 class="m-t-10 m-b-10">{{ 'Public.Catalog.Quote'| trans({}, "messages", locale) }}</h2>

                <div class="devis__recap devis-recap">
                    {% for range in ranges %}
                        {% for product in range.products %}
                            {% for item in cart.content %}
                                {% if item['pId'] == product.id %}
                                    <div class="devis__recap__item devis-recap-item-{{ product.id }}">
                                        <p>{{ item['qtty'] }}x {{ product|productLabelTranslation(locale) }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>

{#                <label data-toggle="collapse" data-target="#ViewCart" class="m-b-10" style="cursor: pointer">#}
{#                    {{ 'Public.Catalog.SeeMoreProducts'| trans({}, "messages", locale) }}#}
{#                </label>#}

{#                <button type="button"#}
{#                        class="btn btn__blue btn__large catalog_next_step_button"#}
{#                        data-url="{{ path('paprec_public_contact_regulier_index', {locale: locale, cartUuid: cart.id}) }}"#}
{#                        data-ajax="{{ path('paprec_public_catalog_addFrequency', {locale: locale, cartUuid: cart.id}) }}">#}
{#                    {{ 'Public.Catalog.NextStep'| trans({}, "messages", locale) }}#}
{#                </button>#}

{#                <a href="{{ path('paprec_public_contact_request_index', {locale: locale, cartUuid: cart.id}) }}"#}
{#                   type="button"#}
{#                   class="btn btn-call">#}
{#                    {{ 'Public.Catalog.ToBeCall'| trans({}, "messages", locale) }}#}
{#                </a>#}

            </div>
            {# <div class=""> #}
            {# <div class="row"> #}
            {# <div class="col-md-12 col-lg-6 col-12"> #}
            {# <h2>{{ 'Public.Catalog.Other-Needs'| trans({}, "messages", locale) }} </h2> #}
            {# <div style="font-style: italic">{{ 'Public.Catalog.Other-Needs-Info'| trans({}, "messages", locale) }} </div> #}
            {# </div> #}
            {# </div> #}
            {# <div class="row other-needs-container mb-4"> #}
            {# {% for otherNeed in otherNeeds %} #}
            {# {% if otherNeed.pictures and otherNeed.pictures|length > 0 %} #}
            {# <div class="col other-needs-image {% for cartOtherNeed in cart.otherNeeds %}{% if cartOtherNeed.id == otherNeed.id %}active{% endif %}{% endfor %}" #}
            {# id="otherNeedImage{{ otherNeed.id }}" #}
            {# data-url="{{ path('paprec_public_catalog_addRemoveOtherNeed', {locale: locale, cartUuid: cart.id, otherNeedId: otherNeed.id}) }}"> #}
            {# <img src="{{ asset('/uploads/pictos/' ~ otherNeed.pictures[0].path) }}"> #}
            {# <div class="other-needs-image__title"> #}
            {# {{ otherNeed.name }} #}
            {# </div> #}
            {# <i class="fas fa-check"></i> #}
            {# </div> #}
            {# {% endif %} #}
            {# {% endfor %} #}
            {# </div> #}
            {# </div> #}
        </div>
    </section>
    <div id="define-need-button"
         class="floating-bottom-button">{{ 'Public.Catalog.Define-Need'| trans({}, "messages", locale) }}</div>
    <div id="other-needs-button"
         class="floating-bottom-button">{{ 'Public.Catalog.Other-Needs'| trans({}, "messages", locale) }}</div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('.progress-bar').css('width', '38%').attr('aria-valuenow', '33%');

            $(window).scroll(function () {
                var Bottom = $(window).height() + $(window).scrollTop() >= $(document).height();
                if (Bottom) {
                    $('.showHide').fadeOut();
                } else {
                    $('.showHide').fadeIn();
                }
            });
        });

    </script>
{% endblock %}
