{% extends 'public/base_public.html.twig' %}
{% block gtm %}
    {% if quoteRequest.type == 'REGULAR' %}
        <!-- Event snippet for Validation Demande Devis Reguliere conversion page -->
        <script>
            gtag('event', 'conversion', {'send_to': 'AW-1046486146/rI1sCO2hwW0QgrmA8wM'});
        </script>
    {% endif %}
    {% if quoteRequest.type == 'PONCTUAL' %}
        <!-- Event snippet for Validation Demande Devis Ponctuelle conversion page -->
        <script>
            gtag('event', 'conversion', {'send_to': 'AW-1046486146/pAR3COHB62kQgrmA8wM'});
        </script>
    {% endif %}
{% endblock %}
{% block title %} Privacia - Confirmation{% endblock %}
{% block breadcrumb_title %}
    {{ 'Public.Confirm.BreadcrumbTitle'| trans({}, "messages", locale) }}
{% endblock %}
{% block breadcrumb_content %} {{ 'Public.Confirm.BreadcrumbContent'| trans({}, "messages", locale) }} {% endblock %}

{% block main_content %}
    <section class="page-section confirmation">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="row">
                        <div class="col-12">
                            <h1>
                                {{ 'Public.Confirm.Title'| trans({}, "messages", locale) }}
                            </h1>
                            <div class="divider"></div>
                        </div>
                        <div class="col-12">
                            {{ 'Public.Confirm.Message'| trans({}, "messages", locale) }}<a
                                    href="mailto:{{ paprec_public_technical_service }}"> {{ 'Public.Confirm.TechnicalService'| trans({}, "messages", locale) }}</a>.
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-6 text-center">
                    <img src="{{ asset('build/static/paperplane.png') }}" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('.progress-bar').css('width', '100%').attr('aria-valuenow', '100%');
        });

    </script>
{% endblock %}

